<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BSTDownLoadManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>741CB5CA1EBC4BC900BF127D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>741CB5E31EBC4BC900BF127D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>741CB5EE1EBC4BC900BF127D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
